{#templates/org-detail-homepage.html#}

{% extends 'enter-base.html' %}

<title>{% block title %}企业信息首页{% endblock %}</title>
{% block page_path %}企业基本信息{% endblock %}

 {% block right_form %}

     <div class="right companycenter layout" style="height: 160px!important;">
        <div class="head">
            <h2>企业基本信息</h2>
{#            <a class="green fr more" href="enter-detail-money.html">查看更多  >  </a>#}
        </div>
        <div class="butler_list company list"style="height: 140px!important;">
            <div class="layout">
                <table class="table table-hover table-striped">
                    <tbody>
                    <tr>
                        <th>企  业  ID</th>
                        <th>注册时间</th>
                        <th>行业</th>
                        <th>注册资本</th>
                        <th>区域</th>
                        <th>企业类型</th>
                        <th>控制人类型</th>
                        <th>控制人持股</th>
                        <th>是否为僵尸企业</th>
        {#                    <th>操      作</th>#}
                    </tr>
                        <tr>
                            <th>{{ enter_org.id}}</th>
                            <th>{{ enter_org.register}}</th>
                            <th>{{ enter_org.industry}}</th>
                            <th>{{ enter_org.registered_fund}}</th>
                            <th>{{ enter_org.region}}</th>
                            <th>{{ enter_org.type}}</th>
                            <th>{{ enter_org.controller_type}}</th>
                            <th>{{ enter_org.controller_hold}}</th>
                            <th>{{ enter_org.flag}}</th>
        {#                        <th><a href="{% url 'enterprise:enter_home' all_orgs.id %}">查看详细</a></th>#}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="right companycenter layout" style="height: 250px!important;">
        <div class="head">
            <h2>金融报表信息</h2>
{#            <a class="green fr more" href="enter-detail-money.html">查看更多  >  </a>#}
        </div>
        <div class="butler_list company list"style="height: 200px!important;">
            <div class="layout">
                <table class="table table-hover table-striped">
                    <tbody>
                    <tr>
                        <th>企  业  ID</th>
                        <th>年      份</th>
                        <th>债权融资额度</th>
                        <th>债权融资成本</th>
                        <th>股权融资额度</th>
                        <th>股权融资成本</th>
                        <th>内部融资和贸易融资额度</th>
                        <th>内部融资和贸易融资成本</th>
                        <th>项目融资和政策融资额度</th>
                        <th>项目融资和政策融资成本</th>
        {#                    <th>操      作</th>#}
                    </tr>
                    {% for mo in all_money %}
                        <tr>
                            <th>{{ mo.enter_id }}</th>
                            <th>{{ mo.year}}</th>
                            <th>{{ mo.bond_cost}}</th>
                            <th>{{ mo.bond_limit}}</th>
                            <th>{{ mo.stock_cost}}</th>
                            <th>{{ mo.stock_limit}}</th>
                            <th>{{ mo.trade_cost}}</th>
                            <th>{{ mo.trade_limit}}</th>
                            <th>{{ mo.item_cost}}</th>
                            <th>{{ mo.item_limit}}</th>
        {#                        <th><a href="{% url 'enterprise:enter_home' all_orgs.id %}">查看详细</a></th>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="right companycenter layout" style="height: 250px!important;">
        <div class="head">
            <h2>年度报表信息</h2>
{#            <a class="green fr more" href="enterprise-detail-year.html">查看更多  >  </a>#}
        </div>
        <div class="butler_list company list"style="height: 140px!important;">
            <div class="layout">
                <table class="table table-hover table-striped">
                    <tbody>
                    <tr>
                        <th>企 业 ID</th>
                        <th>年   份</th>
                        <th>资产总额</th>
                        <th>负债总额</th>
                        <th>营业总收入</th>
                        <th>主营业务收入</th>
                        <th>利润总额</th>
                        <th>净利润</th>
                        <th>纳税总额</th>
        {#                    <th>操      作</th>#}
                    </tr>
                    {% for ye in all_year %}
                        <tr>
                            <th>{{ ye.enter_id }}</th>
                            <th>{{ ye.year }}</th>
                            <th>{{ ye.total_assets}}</th>
                            <th>{{ ye.total_liabilities}}</th>
                            <th>{{ ye.revenue}}</th>
                            <th>{{ ye.main_revenue}}</th>
                            <th>{{ ye.total_profit}}</th>
                            <th>{{ ye.retained_profit}}</th>
                            <th>{{ ye.total_tax}}</th>
        {#                        <th><a href="{% url 'enterprise:enter_home' all_orgs.id %}">查看详细</a></th>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="right companycenter layout "style="height: 160px!important;" >
            <div class="head">
                <h2>知识产权信息</h2>
{#                <a class="green fr more" href="enter-detail-know.html">查看更多  >  </a>#}
            </div>
            <div class="butler_list company list"style="height: 140px!important;">
                <div class="layout">
                    <table class="table table-hover table-striped">
                        <tbody>
                        <tr>
                            <th>企  业  ID</th>
                            <th>专      利</th>
                            <th>商      标</th>
                            <th>著  作  权</th>
            {#                    <th>操      作</th>#}
                        </tr>
                        {% for kn in all_know %}
                            <tr>
                                <th>{{ kn.enter_id }}</th>
                                <th>{{ kn.patent}}</th>
                                <th>{{ kn.brand}}</th>
                                <th>{{ kn.copyright}}</th>
            {#                        <th><a href="{% url 'enterprise:enter_home' all_orgs.id %}">查看详细</a></th>#}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


 {% endblock %}